<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <a href="/"><b>MemoBoard</b></a>
    </header>
    <main>
        <div>
            <h3>이미 가입한 회원이라면</h3>
            <button onclick="location.href='/login'">로그인</button>
        </div>
        <div>
            <h3>가입하지 않은 회원이라면</h3>
            <button onclick="location.href='/register'">회원가입</button>
        </div>
    </main>
</body>

</html>